@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#homeHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: rgba(101, 14, 105, 0.74);
}

#logoHolder2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 100%;
    margin: 30px 0 0 0;
}
#logo {
    height: 90%;
    position: relative; left: 85px;
    
}

#newsHolder {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5px 0 50px 0;
}

#newsHolder::-webkit-scrollbar-track {
    background-color: rgb(75, 11, 78);
}

#newsHolder::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.articleHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin: 0 0 15px 0;
}

.headingHolder {
    width: 100%;
    background-image: linear-gradient(to right, rgba(101, 14, 105, 0.74), rgba(0, 0, 0, 0) );
    margin: 10px 0 10px 0;
}

.articleHeading {
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168);
    margin: 0 0 0 20px;
    
}

.picAndBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.newsPic {
    max-width: 60%;
    object-fit: contain;
    margin: 0 0 0 20px;
}

.body {
    width: 95%;
    color: rgb(168, 168, 168);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px 0 20px;
}

a:link {
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168);
    margin: 0 0 0 15px;
    border-bottom: solid 1px rgb(168, 168, 168);
}

a:visited {
   color: rgba(101, 14, 105, 0.74);
}

#newsHeaderHolder {
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.938), rgba(0, 0, 0, 0) );
    margin: 50px 0 0 0;
    overflow: hidden;
    
}

@keyframes slidingHeader {
    from {position: relative; left: 545px;}
    to {position: relative; left: -150px;}
}

#topNews{
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168);
    margin: 2px 0 2px 10px;
    
    animation-name: slidingHeader;
    animation-duration: 15s;
    animation-iteration-count: 3;
}

#newsComponents {
    width: 60%;
}

#newsAndUpcoming {
    display: flex;
    justify-content: space-around;
}

#comingSoonHolder {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 5px 0 0 0;
}

#comingSoonHolder::-webkit-scrollbar-track {
    background-color: rgb(75, 11, 78);
}

#comingSoonHolder::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.upcomingPoster {
    width: 95%;
    cursor: pointer;
}

.singleUpcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 25px 0;
    background-color: black;
}

.upcomingTitle {
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(101, 14, 105, 0.74), rgba(0, 0, 0, 0) );
    text-align: center;
}

.upcomingYear {
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168);
}

#upcomingComponents {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#upcomingHeaderHolder {
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.938), rgba(0, 0, 0, 0) );
    margin: 50px 0 0 0;
    overflow: hidden;
}

@keyframes slidingHeader2 {
    from {position: relative; left: 270px;}
    to {position: relative; left: -200px;}
}

#upcomingHeader {
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168);
    margin: 2px 0 2px 10px;

    animation-name: slidingHeader2;
    animation-duration: 15s;
    animation-iteration-count: 3;
}

