@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


header {
    width: 100%;
    background-color: #b8b8b859;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-around;
    margin: 15px 0 0 0;    
  }

  #fanLogo {
    height: 90%;
    margin: 0 20px 0 50px;
  }
  
  #searchBB {
    display: flex;
    margin: 0 25px 0 20px;
    width: 50%;
  }
  
  #search {
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 4px 0 0 4px;
  }

  #searchButton {
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 14px;
  }

  h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
  }

  a:link {
    height: 90%;
    display: flex;
    align-items: center;
  }

  