@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


#purpleKube {
    width: 150px;
    margin: 0 0 0 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168);
}

#loadingData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 75px 0 0 0;
    height: 550px;
}